/* -- Login Page -- */
body.login-page {
    background: #fff;
}

#kt_login {
    border-top: 30px solid #fee50f;
}

.kt-login.kt-login--v1 .kt-login__aside {
    background-color: transparent;
}

.kt-login.kt-login--v1 .kt-login__wrapper {
    background: transparent;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__title,
.kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle,
.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__copyright,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head .kt-login__signup-label {
    color: #282a3c;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .form-control {
    background-color: rgb(255, 255, 255);
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form {
    padding: 25px;
    background: #fef2db;
    border-radius: 6px;
    border: 2px solid #ffb824;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}

#kt_login .kt-login__logo img {
    width: 90px;
}

#kt_login .kt-login__logo span {
    display: inline-block;
    font-weight: bold;
    color: #282a3c;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 1.22rem;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
    align-items: center;
}


#kt_header {
    background-color: #fee50f;
}

.kt-header-mobile {
    background-color: #fee50f !important;
}

.kt-header-mobile img,
.header-logo-esdm img {
    height: 40px;
}

.kt-header-mobile .kt-header-mobile__logo span,
.header-logo-esdm span {
    display: inline-block;
    font-weight: bold;
    color: #282a3c;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 0.72rem;
}

.header-logo-esdm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/* -- end Login Page -- */

/* -- User Profile disidebar -- */
#kt_aside_brand {
    height: auto;
    padding: 15px 25px;
}

#kt_aside_brand .kt-widget--user-profile-3 .kt-widget__top {
    display: table;
    text-align: center;
}

.kt-aside--minimize .kt-aside__brand .kt-widget--user-profile-3 {
    display: none;
}

#kt_aside_brand .kt-widget--user-profile-3 .kt-widget__content {
    padding: 0;
}

#kt_aside_brand .kt-widget--user-profile-3 .kt-widget__head {
    flex-direction: column;
    margin-top: 5px;
}

#kt_aside_brand .kt-widget--user-profile-3 .kt-widget__head .kt-widget__username {
    color: #fee50e;
}

/* -- end User Profile -- */

/* -- icon app subheader -- */
.kt-subheader .kt-subheader__toolbar {
    align-items: center;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    max-height: 54px;
    margin-left: 20px;
}

.kt-subheader__wrapper {
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
    height: 54px;
    padding: 5px 0 0 20px;
}

.kt-subheader__wrapper .kt-subheader__btn-secondary .kt-menu__link-text {
    display: block;
    font-size: 0.7rem;
}

.kt-subheader__wrapper .kt-subheader__btn-secondary {
    vertical-align: top;
}

.kt-subheader .btn {
    display: table-cell;
}

.app-icon-subheader-title {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* -- Sidebar -- */
.kt-aside {
    background-image: url(../../../user/media/bg/450.jpg);
    background-size: cover;
    background-position: bottom;
}

.kt-aside__brand {
    background-color: transparent;
    display: flex !important;
}

.kt-aside-menu {
    background-color: transparent;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-text {
    color: #fff;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__heading,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active>.kt-menu__link,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot>span,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot>span {
    background-color: #ffffff;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon svg g [fill],
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
    fill: #ffffff;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-icon svg g [fill] {
    fill: #075e94;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot>span,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot>span {
    background-color: #075e94;
}

.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__subhead a:hover,
.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__subhead a,
.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__ver-arrow,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__ver-arrow {
    color: #fff;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__ver-arrow,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link .kt-menu__ver-arrow,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__ver-arrow,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-text {
    color: #464456;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link,
.kt-aside-menu .kt-menu__nav .kt-menu__item>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__submenu .kt-menu__subnav>.kt-menu__item>.kt-menu__link {
    transition: all 0.2s ease-in-out;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon svg g [fill],
.kt-aside__brand .kt-aside__brand-tools .kt-aside__brand-aside-toggler svg g [fill] {
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}

/* -- end Sidebar -- */

/* -- Content -- */
.kt-widget20.user-stats {
    flex-direction: row;
}

.kt-widget20.user-stats-spd {
    padding: 0 25px;
}

.kt-widget20.user-stats-spd .kt-widget20__number {
    font-size: 1rem;
}

.kt-header-menu .kt-menu__nav.top-header-menu {
    margin-right: 20px;
    margin-left: -25px;
    padding: 0 15px 0 25px;
    background: #ffffff;
}

.kt-pricing-1 {
    border-radius: 4px;
}